/*

  -- -- -- -- -- -- --
  GVL specific CSS.
  Over-riding items in main.css
  -- -- -- -- -- -- --

*/

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#masthead {
  background-color: rgb(0, 117, 132);
  /* background: #FFF url("../images/layout/noise-lite.png"); */
}

#masthead h1.brand {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 10px;
  width: 250px;
  height: 60px;
  padding: 15px 10px 1px 110px;
  /* background: transparent url(../images/logos/gvl-green.png) no-repeat left 0px top 0px; */
  background: transparent url(../images/logos/gvl-green-h70px.png) no-repeat left 0px top 0px;
  display: inline-block;
  text-indent: 0%;
  white-space: nowrap;
  overflow: visible;
  text-align: left;
  text-shadow: none;
  font-weight: 200;
}

#masthead a,
a:active,
a:visited {
	text-decoration: none;
	color: #FFF;
	border-bottom: 1px dotted #98cab1;
}

a:hover {
	color: #222;
	border-bottom: 1px solid #999;
}

#masthead h1 {
  font-size: 20px;
  text-transform: none;
  border-right: none;
}

#masthead span.sub-head {
 font-size: 12px;
}

#masthead h1 a:hover {
  color: #FFF;
}


#masthead div.inner {
  background-color: rgb(0, 117, 132);
}

#top {
  background: #e3faf8;
}

#splash {
  background: #e3faf8;
}

#splash .inner-wrap .inner {
  background: #e3faf8;
}

#splash .inner-wrap .inner .wrap {
  background: transparent;
}

/* HubZero logo in welcome block. */
small.welcome-after,
#welcome:after {
  color: #FFF;
}

/* HubZero text in welcome block. */
#welcome h2 {
  color: #000;
}

#welcome {
  color: #000;
}

#welcome a {
  color: rgb(104, 77, 10);
  border-bottom: 1px dotted rgb(104, 77, 10);
}

#welcome a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* Elements */

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


a,
a:active,
a:visited {
  text-decoration: none;
  color: rgb(0, 171, 255);
  border-bottom: 1px dotted rgb(0, 171, 255);
}

a:hover {
  color: #0D6B9F;
  border-bottom: 1px solid #0D6B9F;
}

  /* Events */
.events-section .mod_events_calendar caption {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav {
  margin: 5px;
}

#nav ul.menu a {
  color: rgb(255, 255, 255);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-right: none;
}

#account li>a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFF00;
  border-left: none;
}

/* ------------------------------------- */
/* Support for buttons */

#features .poll a {
  float: none;
}

#features .columns div:first-child {
  min-height: 0;
}

#features .columns p, #features .columns .poll p {
    padding: 0px;
    margin-top: 10px;
}

.gvl-button {
    /*Basic Button Styles*/
    display: block;
    height: 50px;
    width: 150px;
    margin: 2px;
    background: rgb(0, 117, 132);
    border: 2px solid rgba(33, 68, 72, 0.59);

    /* Text Styles */
    color: white;
    text-align: center;
    font: bold 1.6em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    /*  Fancy CSS3 Styles */
   /* Base colour: rgb(0, 117, 132) */
    background: -webkit-linear-gradient(top, rgb(0, 140, 160), rgb(0, 90, 100) );
    background: -moz-linear-gradient(top, rgb(0, 140, 160), rgb(0, 90, 100) );
    background: -o-linear-gradient(top, rgb(0, 140, 160), rgb(0, 90, 100) );
    background: -ms-linear-gradient(top, rgb(0, 140, 160), rgb(0, 90, 100) );
    background: linear-gradient(top, rgb(0, 140, 160), rgb(0, 90, 100) );

    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-box-shadow: 0 1px 0 #1b383b;
    -moz-box-shadow: 0 1px 0 #1b383b;
    box-shadow: 0 1px 0 #1b383b;
}

.well {   /* bootstrap-style well */
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well.gvl-button-container {
  min-height: 12em;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #e3e3e3;
/*  background-color: #e0f7f5;
  border: 1px solid #d3eae8; */
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
/*    height: 52px   */
/*	border-color: #d3eae8;
	padding 10px;
	border-style: solid; */
}

.gvl-button-title {
	font-size: 40px;
	color: rgb(0, 117, 132);
	padding: 5px 0px 20px 0px;
}

.gvl-message {
  width: 100%;
  font-size: 20px;
  color: rgb(0, 117, 132);
}

/* Link Styling */
.well.gvl-button-container a:link,
.well.gvl-button-container a:active,
.well.gvl-button-container a:visited {
    color: rgb(180, 250, 255);
   /*  text-shadow: 0 1px 1px rgb(255, 255, 255); */
    /* text-decoration: none; */
}

/* Hover Styles */
a .well.gvl-button-container:hover {
    background: #e3e3e3;
/*    background: -webkit-linear-gradient(top, rgb(0, 117, 132), rgb(0, 70, 80) );
    background: -moz-linear-gradient(top, rgb(0, 117, 132), rgb(0, 70, 80) );
    background: -o-linear-gradient(top, rgb(0, 117, 132), rgb(0, 70, 80));
    background: -ms-linear-gradient(top, rgb(0, 117, 132), rgb(0, 70, 80));
    background: linear-gradient(top, rgb(0, 117, 132), rgb(0, 70, 80));

    -webkit-box-shadow: 0 1px 0 #1b383b;
    -moz-box-shadow: 0 1px 0 #1b383b;
    box-shadow: 0 1px 0 #1b383b; */
}

.gvl-para {
   float: none;
   padding: 50px 20px 20px 20px;
}

.gvl-center {
  margin-left: auto;
  margin-right: auto;
}

#gvl-launch-button,
#gvl-launch-button:active,
#gvl-launch-button:visited {
	font-size: 20px;
	width: 4em;
	padding: 2em;
	border-radius: .5em;
	background: rgb(0, 117, 132);
	border: 1px solid rgb(0, 117, 132);
	text-align: center;
	color: white;
	display: block;
	margin: auto;
}

#gvl-launch-button:hover {
	background: rgb(20, 137, 152);
	border: 1px solid rgb(20, 137, 152);
	color: white;
}


/* ------------------------------------- */
/* Suppress tabs over left, middle and right feature blocks. */

#wrap {
	border-top: solid 1px rgb(210, 210, 210);
}

#features .columns:after {
	display: none;
}

#features .columns div:first-child {
	border-left: none;
	border-right: none;
}

/*The following styles are for the Learn page. */

  /* Specific css styles for the learn page header (grey box at the top),
   the floating menu and the tutorial sections.*/
  #page-header{
    background-color:lightgrey;
    padding:10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  #page-tableofcontents{
    line-height:30px;
    background-color:#eeeeee;
    height: auto;
    width:200px;
    float:left;
    padding:5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
		margin-top: 10px;
    /*<!-- position:fixed; --> */
  }
  #page-main{
    width: 80%;
    float:left;
    /*padding:10px;*/
  }

  .tutorial-section{
    border: 1px solid lightgrey;
    border-radius: 10px;
    border-spacing: 10px;
    padding: 10px;
		margin: 10px 0px 0px 0px;
  }

  /* Some specific css that is refered to by the jQuery javascript that makes
   the page contents float correctly on scrolling */
  .fixed{
    top: 10px;
    position: fixed;
  }

  .xpadding-left{
    padding-left: 227px;

  }

  .oldpadding{
    padding-left: 15px;
  }

/*footer override stuff */
/* FOOTER */

.footer {
  background: AliceBlue;
  height: 130px;
  position: relative;
  width: 100%;
  border-top: 1px solid #DDDDDD;
}
.footer img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  max-width: 200px;
  max-height: 100px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Disable grayscale on hover */
.footer img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  max-width: 200px;
  max-height: 100px;
}

.frame {
    height: 130px; /* equals frame height */
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer p {
  margin: 0;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
  padding: 5px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 5px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}

#ancillary {
  background-color: white;
}
