/*
	-- -- -- -- -- -- --
	hubbasic CSS
	IE 9 Windows hacks
	-- -- -- -- -- -- --
*/
	#splash .inner-wrap {
		background: transparent url("/templates/gvl2015/images/layout/glass-stripes.png");
	}
	#splash .inner-wrap .inner {
		background: transparent url("/templates/gvl2015/images/layout/glass.png");
	}
	input[type=text],
	input[type=password],
	input[type=email],
	textarea {
		line-height: 1;
	}